## NOTEBOOK IS NOW DONE

This notebook is now done... 
The database is built, and most queries can be done using SQL language, so I make a new notebook for examples.

In [1]:
cd ..

C:\Users\csav6865\Documents\GitHub\picarro-calculator

In [2]:
import Picarro as pica
import PicarroDatabase as pdb
import pickle

In [3]:
files = pdb.checkforrawdata(r"J:\c715\Picarro\Results\Results 2019\Raw data")

There is no new raw data in directory: J:\c715\Picarro\Results\Results 2019\Raw data

In [4]:
conn = pdb.CreateConnection(r"J:\c715\Picarro\Results\Database\data.db")

#for file in files:
#    pdb.AddRaw(file,conn)
#    try:
#        pdb.AddSummaryRun(file,conn)
#    except:
#        print("An error occurred")

In [5]:
import numpy as np
import glob
import pandas as pd

Here, we've selected the run ids and their respective nicknames for the year 2019

In [6]:
df = pd.read_sql_query("select * from runlookup;",conn)
df

                             NickName    RUN_ID
0              2019 01 09 LW test run  20190108
1         2019 01 10 Voegelsberg run1  20190109
2         2019 01 11 Voegelsberg run2  20190110
3   2019 01 12 Voegelsberg run2 rerun  20190111
4   2019 01 13 Voegelsberg run1 rerun  20190112
..                                ...       ...
81  2019 11 19 ControlRun HUSN FALL19  20191119
82     2019 11 20 YD Perm rerun+CS+TP  20191120
83         2019 11 21 GM+reruns+TP+PT  20191121
84    2019 11 22 JP Voegelsberg Run01  20191122
85    2019 11 23 JP Voegelsberg Run02  20191123

[86 rows x 2 columns]

we can also select the runs based on what the name is like, for example: guffert runs.

In [14]:
df = pd.read_sql_query("select * from runlookup rlk where rlk.NickName like '%guffert%';",conn)
df

                            NickName    RUN_ID
0        2019 10 23 TR Guffert Run01  20191023
1  2019 11 04 TR Guffert Fall19 Run2  20191104

In [37]:
df = pd.read_sql_query("select * from runlookup rlk where rlk.NickName like '%Hundsalm%';",conn)
df

                    NickName    RUN_ID
0  2019 05 14 Hundsalm Run01  20190513
1  2019 05 15 Hundsalm Run02  20190514
2  2019 05 16 Hundsalm Run03  20190515
3  2019 05 17 Hundsalm Run04  20190516
4  2019 07 08 Hundsalm Run05  20190707

Now let's execute a statement where the NickName is replaced.

In [9]:
import sqlite3
from sqlite3 import Error

def ReplaceName(conn,RUN_ID,newname):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param RUN_ID: the run id, an eight digit integer with format yyyymmdd
    :return: updated table name in 

    https://www.sqlitetutorial.net/sqlite-python/create-tables/
    """
    
    statement= """UPDATE runlookup
    SET RUN_ID = {0}, NickName = '{1}'
    WHERE RUN_ID = {0};""".format(RUN_ID,newname)
    
    try:
        c = conn.cursor()

        c.execute(statement)
    except Error as e:
            print(e)
        conn.commit()

In [40]:
ids = [20190513,20190514,20190515,20190516,20190707]
newnames=['2019 05 14 TR Hundsalm Run01',
         '2019 05 15 TR Hundsalm Run02',
         '2019 05 16 TR Hundsalm Run03',
         '2019 05 17 TR Hundsalm Run04',
         '2019 07 08 TR Hundsalm Run05']
for i,j in zip(ids,newnames):
    ReplaceName(conn,i,j)

In [41]:
df = pd.read_sql_query("select * from runlookup rlk where rlk.NickName like '%Hundsalm%';",conn)
df

                       NickName    RUN_ID
0  2019 05 14 TR Hundsalm Run01  20190513
1  2019 05 15 TR Hundsalm Run02  20190514
2  2019 05 16 TR Hundsalm Run03  20190515
3  2019 05 17 TR Hundsalm Run04  20190516
4  2019 07 08 TR Hundsalm Run05  20190707

In [75]:
pdb.AddSummaryRun(r"J:\c715\Picarro\Results\Results 2019\Raw data\HKDS2009_IsoWater_20190516_142104.csv",conn)

table runs already exists
Running the corrections for Oxygen
 ...
 ...
Cannot convert column Analysis to numeric type
Cannot convert column Time Code to numeric type
Cannot convert column Port to numeric type
Cannot convert column Gas Configuration to numeric type
Cannot convert column Method to numeric type

C:\Users\csav6865\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Checking: HU-034-rerun2 ...
too high std. deviation
9701.0
Checking: HU-038-rerun2 ...
Standard dev is good
9703.0
9691.0
Checking: HU-035-rerun2 ...
Standard dev is good
9708.0
Checking: SUR-1 ...
Standard dev is good
9694.0
Checking: DJ-1 ...
Standard dev is good
9696.0
Checking: ADR-1-rerun2 ...
Standard dev too high get rid of measurement 3
9714.0
Checking: HU-022-rerun2 ...
Standard dev is good
9700.0
Checking: HU-017-rerun2 ...
Standard dev is good
9698.0
Checking: HU-021-rerun2 ...
Standard dev too high get rid of measurement 1
9705.0
Checking: TM-ED-03-rerun2 ...
Standard dev is good
9711.0
Checking: HU-029-rerun2 ...
Standard dev is good
9707.0
9690.0
Checking: TM-ED-04-rerun2 ...
Standard dev is good
9712.0
Checking: TM-ED-02-rerun2 ...
Standard dev is good
9710.0
9689.0
9692.0
Checking: TM-ED-05-rerun2 ...
Standard dev is good
9713.0
Checking: HU-018-rerun2 ...
Standard dev is good
9699.0
Checking: HU-036-rerun2 ...
Standard dev is good
9702.0
Checking: TM-ED-Main-rerun2 ...
Standard dev is good
9709.0
Checking: HU-039-rerun2 ...
Standard dev is good
9704.0
Checking: ARAVAN ...
Standard dev is good
9695.0
Done!
 ...
 ...
 ...
 ...
Running the corrections for Deuterium
 ...
 ...
Cannot convert column Analysis to numeric type
Cannot convert column Time Code to numeric type
Cannot convert column Port to numeric type
Cannot convert column Gas Configuration to numeric type
Cannot convert column Method to numeric type
Checking: HU-034-rerun2 ...
Standard dev too high get rid of measurement 3
9701.0
Checking: HU-038-rerun2 ...
Standard dev is good
9703.0
9691.0
Checking: HU-035-rerun2 ...
Standard dev is good
9708.0
Checking: SUR-1 ...
Standard dev is good
9694.0
Checking: DJ-1 ...
Standard dev is good
9696.0
Checking: ADR-1-rerun2 ...
Standard dev is good
9714.0
Checking: HU-022-rerun2 ...
Standard dev is good
9700.0
Checking: HU-017-rerun2 ...
Standard dev is good
9698.0
Checking: HU-021-rerun2 ...
Standard dev is good
9705.0
Checking: TM-ED-03-rerun2 ...
Standard dev is good
9711.0
Checking: HU-029-rerun2 ...
Standard dev is good
9707.0
9690.0
Checking: TM-ED-04-rerun2 ...
Standard dev is good
9712.0
Checking: TM-ED-02-rerun2 ...
Standard dev is good
9710.0
9689.0
9692.0
Checking: TM-ED-05-rerun2 ...
Standard dev is good
9713.0
Checking: HU-018-rerun2 ...
Standard dev is good
9699.0
Checking: HU-036-rerun2 ...
Standard dev is good
9702.0
Checking: TM-ED-Main-rerun2 ...
Standard dev is good
9709.0
Checking: HU-039-rerun2 ...
Standard dev is good
9704.0
Checking: ARAVAN ...
Standard dev is good
9695.0
Done!
now merging the O and H isotope data
 ...
 ...
Checking for triplicates...
Some samples were not triplicated
key
9701.0    HU-034-rerun2
Name: Identifier 1, dtype: object


Checking for high standard deviations ...
Suggested reruns for following samples, which had high standard deviations
key
9691.0            HAUS2
9701.0    HU-034-rerun2
Name: Identifier 1, dtype: object


Checking for samples lying outside of the GWML ...
Suggested reruns for following samples, which were outside of the GMWL
key
9690.0    HAUS1
Name: Identifier 1, dtype: object


UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key
UNIQUE constraint failed: runs.key

In [50]:
statement ="""SELECT * from runlookup rlk,runs r 
            WHERE (
            rlk.NickName like '%Hundsalm%'
            AND (r.'Identifier 2' = 'TR' 
            AND r.RUN_ID= rlk.RUN_ID
            ));"""

df = pd.read_sql_query(statement,conn)
df

Empty DataFrame
Columns: [NickName, RUN_ID, key, Identifier 1, Identifier 2, RUN_ID, position, d18O vsmow, d18O stdev. vsmow, d18O counts, d2H vsmow, d2H stdev. vsmow, d2H counts, inside GMWL]
Index: []

In [73]:
df = pd.read_sql_query("select r.'Identifier 1',r.'Identifier 2' from rawrun r where RUN_ID = 20190513",conn)

In [76]:
df1 = pd.read_csv(r"J:\c715\Picarro\Results\Results 2019\Raw data\HKDS2009_IsoWater_20190513_142143.csv")

In [77]:
df1.head(50)

,Line,Analysis,Time Code,Port,Inj Nr,d(18_16)Mean,d(D_H)Mean,H2O_Mean,Ignore,Good,...,ch4_ppm,h16od_adjust,h16od_shift,n2_flag,DAS Temp,Tray,Sample,Job,Method,Error Code
0,1,P-9608,2019/05/13 16:27:49,1-01,1,-17.681,-98.989,25012,-1,0,...,2.020,-0.0,-0.0,0,39.812,1,1,1,Picarro pre rinse,0
1,2,P-9608,2019/05/13 16:36:55,1-01,2,-17.388,-94.894,19686,-1,1,...,1.421,0.0,0.0,0,39.938,1,1,1,Picarro pre rinse,0
2,3,P-9608,2019/05/13 16:46:03,1-01,3,-17.172,-93.294,19651,-1,1,...,1.808,0.0,0.0,0,40.000,1,1,1,Picarro pre rinse,0
3,4,P-9608,2019/05/13 16:55:10,1-01,4,-16.834,-92.390,20458,0,1,...,1.709,-0.0,-0.0,0,40.062,1,1,1,Picarro pre rinse,0
4,5,P-9608,2019/05/13 17:04:17,1-01,5,-17.064,-93.069,19772,0,1,...,1.888,-0.0,-0.0,0,40.000,1,1,1,Picarro pre rinse,0
5,6,P-9608,2019/05/13 17:13:25,1-01,6,-16.736,-91.443,20586,0,1,...,2.042,0.0,0.0,0,39.938,1,1,1,Picarro pre rinse,0
6,7,P-9608,2019/05/13 17:22:33,1-01,7,-16.824,-91.826,19479,0,1,...,1.870,-0.0,-0.0,0,39.875,1,1,1,Picarro pre rinse,0
7,8,P-9608,2019/05/13 17:31:41,1-01,8,-16.918,-92.099,18943,0,1,...,1.644,-0.0,-0.0,0,39.875,1,1,1,Picarro pre rinse,0
8,9,P-9608,2019/05/13 17:40:47,1-01,9,-17.026,-92.230,18424,0,1,...,1.633,-0.0,-0.0,0,39.875,1,1,1,Picarro pre rinse,0
9,10,P-9608,2019/05/13 17:49:54,1-01,10,-16.960,-92.242,17846,0,1,...,1.558,-0.0,-0.0,0,39.812,1,1,1,Picarro pre rinse,0
10,11,P-9609,2019/05/13 17:59:02,1-02,1,-4.475,-12.764,18433,-1,1,...,1.753,0.0,0.0,0,39.812,1,2,1,Picarro pre rinse,0
11,12,P-9609,2019/05/13 18:08:11,1-02,2,-3.247,0.634,18108,-1,1,...,1.702,0.0,0.0,0,39.938,1,2,1,Picarro pre rinse,0
12,13,P-9609,2019/05/13 18:17:20,1-02,3,-2.832,5.328,18634,-1,1,...,1.629,-0.0,-0.0,0,40.000,1,2,1,Picarro pre rinse,0
13,14,P-9609,2019/05/13 18:26:27,1-02,4,-2.812,6.454,18232,0,1,...,1.758,0.0,0.0,0,40.000,1,2,1,Picarro pre rinse,0
14,15,P-9609,2019/05/13 18:35:35,1-02,5,-2.792,7.340,18387,0,1,...,1.832,0.0,0.0,0,40.000,1,2,1,Picarro pre rinse,0
15,16,P-9609,2019/05/13 18:44:44,1-02,6,-2.713,7.792,19265,0,1,...,1.913,0.0,0.0,0,39.938,1,2,1,Picarro pre rinse,0
16,17,P-9609,2019/05/13 18:53:52,1-02,7,-2.701,7.899,17968,0,1,...,1.441,-0.0,-0.0,0,39.938,1,2,1,Picarro pre rinse,0
17,18,P-9609,2019/05/13 19:02:59,1-02,8,-2.662,8.440,18173,0,1,...,1.877,0.0,0.0,0,39.938,1,2,1,Picarro pre rinse,0
18,19,P-9609,2019/05/13 19:12:06,1-02,9,-2.661,8.593,18224,0,1,...,1.635,0.0,0.0,0,39.875,1,2,1,Picarro pre rinse,0
19,20,P-9609,2019/05/13 19:21:14,1-02,10,-2.569,8.771,18237,0,1,...,1.466,0.0,0.0,0,39.875,1,2,1,Picarro pre rinse,0
20,21,P-9610,2019/05/13 19:30:23,1-03,1,-29.422,-179.580,18596,-1,1,...,1.655,0.0,0.0,0,39.875,1,3,1,Picarro pre rinse,0
21,22,P-9610,2019/05/13 19:39:31,1-03,2,-32.651,-215.289,18139,-1,1,...,1.691,-0.0,-0.0,0,39.875,1,3,1,Picarro pre rinse,0
22,23,P-9610,2019/05/13 19:48:39,1-03,3,-33.143,-225.094,19151,-1,1,...,1.268,-0.0,-0.0,0,39.938,1,3,1,Picarro pre rinse,0
23,24,P-9610,2019/05/13 19:57:48,1-03,4,-33.392,-228.827,18332,0,1,...,1.022,0.0,0.0,0,40.000,1,3,1,Picarro pre rinse,0
24,25,P-9610,2019/05/13 20:06:56,1-03,5,-33.351,-229.736,18915,0,1,...,0.694,0.0,0.0,0,39.938,1,3,1,Picarro pre rinse,0
25,26,P-9610,2019/05/13 20:16:05,1-03,6,-33.527,-231.611,18101,0,1,...,0.624,0.0,0.0,0,39.938,1,3,1,Picarro pre rinse,0
26,27,P-9610,2019/05/13 20:25:13,1-03,7,-33.637,-232.619,18163,0,1,...,0.536,0.0,0.0,0,39.938,1,3,1,Picarro pre rinse,0
27,28,P-9610,2019/05/13 20:34:21,1-03,8,-33.617,-233.206,18345,0,1,...,0.414,-0.0,-0.0,0,39.875,1,3,1,Picarro pre rinse,0
28,29,P-9610,2019/05/13 20:43:29,1-03,9,-33.568,-233.418,18311,0,1,...,0.259,-0.0,-0.0,0,39.875,1,3,1,Picarro pre rinse,0
29,30,P-9610,2019/05/13 20:52:37,1-03,10,-33.632,-233.831,18337,0,1,...,0.503,0.0,0.0,0,39.875,1,3,1,Picarro pre rinse,0
30,31,P-9611,2019/05/13 21:01:44,1-04,1,-19.241,-124.880,18543,-1,1,...,0.060,-0.0,-0.0,0,39.875,1,4,1,Picarro pre rinse,0
31,32,P-9611,2019/05/13 21:10:53,1-04,2,-17.309,-103.126,17739,-1,1,...,0.057,-0.0,-0.0,0,39.938,1,4,1,Picarro pre rinse,0
32,33,P-9611,2019/05/13 21:20:01,1-04,3,-17.001,-97.386,18195,-1,1,...,0.134,0.0,0.0,0,39.938,1,4,1,Picarro pre rinse,0
33,34,P-9611,2019/05/13 21:29:09,1-04,4,-16.895,-95.517,18263,0,1,...,0.286,-0.0,-0.0,0,39.938,1,4,1,Picarro pre rinse,0
34,35,P-9611,2019/05/13 21:38:17,1-04,5,-16.912,-95.026,18273,0,1,...,0.349,-0.0,-0.0,0,39.875,1,4,1,Picarro pre rinse,0
35,36,P-9611,2019/05/13 21:47:26,1-04,6,-16.806,-94.127,18211,0,1,...,-0.026,0.0,0.0,0,39.875,1,4,1,Picarro pre rinse,0
36,37,P-9611,2019/05/13 21:56:35,1-04,7,-16.802,-93.749,18945,0,1,...,0.434,0.0,0.0,0,39.875,1,4,1,Picarro pre rinse,0
37,38,P-9611,2019/05/13 22:05:43,1-04,8,-16.764,-93.562,18970,0,1,...,0.218,-0.0,-0.0,0,39.812,1,4,1,Picarro pre rinse,0
38,39,P-9611,2019/05/13 22:14:51,1-04,9,-16.734,-93.192,18259,0,1,...,0.164,-0.0,-0.0,0,39.812,1,4,1,Picarro pre rinse,0
39,40,P-9611,2019/05/13 22:24:00,1-04,10,-16.733,-93.132,18313,0,1,...,0.262,0.0,0.0,0,39.750,1,4,1,Picarro pre rinse,0
40,41,P-9612,2019/05/13 22:33:08,1-05,1,-7.636,-32.797,18439,-1,1,...,0.295,-0.0,-0.0,0,39.812,1,5,2,Picarro pre rinse,0
41,42,P-9612,2019/05/13 22:52:20,1-05,2,-6.980,-23.627,18603,-1,1,...,0.132,0.0,0.0,0,39.875,1,5,2,Picarro pre rinse,0
42,43,P-9612,2019/05/13 23:01:27,1-05,3,-6.442,-19.352,19050,0,1,...,0.194,-0.0,-0.0,0,39.812,1,5,2,Picarro pre rinse,0
43,44,P-9612,2019/05/13 23:10:35,1-05,4,-6.470,-18.560,18886,0,1,...,0.299,-0.0,-0.0,0,39.750,1,5,2,Picarro pre rinse,0
44,45,P-9613,2019/05/13 23:19:44,1-06,1,-12.669,-60.636,18339,-1,1,...,0.154,0.0,0.0,0,39.750,1,6,2,Picarro pre rinse,0
45,46,P-9613,2019/05/13 23:28:51,1-06,2,-13.356,-68.160,18294,-1,1,...,0.106,0.0,0.0,0,39.750,1,6,2,Picarro pre rinse,0
46,47,P-9613,2019/05/13 23:38:00,1-06,3,-13.403,-69.240,18362,-1,1,...,0.211,0.0,0.0,0,39.688,1,6,2,Picarro pre rinse,0
47,48,P-9613,2019/05/13 23:47:08,1-06,4,-13.379,-70.137,18399,0,1,...,-0.022,-0.0,-0.0,0,39.750,1,6,2,Picarro pre rinse,0
48,49,P-9614,2019/05/13 23:56:17,1-07,1,-14.086,-74.367,16624,-1,1,...,0.065,0.0,0.0,0,39.812,1,7,2,Picarro pre rinse,0
49,50,P-9614,2019/05/14 00:05:26,1-07,2,-14.149,-75.163,17280,-1,1,...,0.493,0.0,0.0,0,39.812,1,7,2,Picarro pre rinse,0

In [87]:
pd.read_sql_query("select * from runlookup rlk,runs r where (rlk.NickName like '%Hundsalm%' and (r.RUN_ID = rlk.RUN_ID and r.'Identifier 2'  like '%Hundsalm%'));",conn)

,NickName,RUN_ID,key,Identifier 1,Identifier 2,RUN_ID,position,d18O vsmow,d18O stdev. vsmow,d18O counts,d2H vsmow,d2H stdev. vsmow,d2H counts,inside GMWL
0,2019 05 15 TR Hundsalm Run02,20190514,9640,HU-020,190511Hundsalm,20190514,6,-10.710960,0.046163,2,-75.519442,0.000470,2,inside
1,2019 05 15 TR Hundsalm Run02,20190514,9641,HU-021,190511Hundsalm,20190514,7,-10.066203,0.056920,3,-70.283194,0.306929,3,inside
2,2019 05 15 TR Hundsalm Run02,20190514,9642,HU-022,190511Hundsalm,20190514,8,-10.388315,0.024255,2,-73.110994,0.465252,2,inside
3,2019 05 15 TR Hundsalm Run02,20190514,9644,HU-023,190511Hundsalm,20190514,10,-10.128032,NaN,1,-71.225339,NaN,1,inside
4,2019 05 15 TR Hundsalm Run02,20190514,9645,HU-024,190511Hundsalm,20190514,11,-10.144330,NaN,1,-71.085296,NaN,1,inside
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2019 07 08 TR Hundsalm Run05,20190707,9899,HU-045,20190601Hundsalm,20190707,22,-12.655751,0.021190,4,-91.119090,0.119674,4,inside
60,2019 07 08 TR Hundsalm Run05,20190707,9900,HU-042-7DAY,20190601Hundsalm,20190707,23,-12.962829,0.019094,4,-95.576305,0.234611,4,inside
61,2019 07 08 TR Hundsalm Run05,20190707,9901,HU-043-7DAY,20190601Hundsalm,20190707,24,-12.736365,0.035587,4,-91.859017,0.197248,4,inside
62,2019 07 08 TR Hundsalm Run05,20190707,9902,XX4-7DAY,20190601Hundsalm,20190707,25,-9.190924,0.080785,4,-64.388225,0.472473,4,inside
63,2019 07 08 TR Hundsalm Run05,20190707,9903,XX5-7DAY,20190601Hundsalm,20190707,26,-10.149943,0.065672,2,-72.017654,0.443688,3,inside

In [ ]:
pd.read_sql_query("select * from runs where")