## NOTEBOOK IS NOW DONE

This notebook is now done... 
The database is built, and most queries can be done using SQL language, so I make a new notebook for examples.

In [1]:
cd ..

C:\Users\csav6865\Documents\GitHub\picarro-calculator

In [2]:
import Picarro as pica
import PicarroDatabase as pdb
import pickle

In [3]:
files = pdb.checkforrawdata(r"J:\c715\Picarro\Results\Results 2019\Raw data")

There is no new raw data in directory: J:\c715\Picarro\Results\Results 2019\Raw data

In [4]:
conn = pdb.CreateConnection(r"J:\c715\Picarro\Results\Database\data.db")

for file in files:
    pdb.AddRaw(file,conn)
    try:
        pdb.AddSummaryRun(file,conn)
    except:
        print("An error occurred")

TypeError: 'NoneType' object is not iterable

In [5]:
import numpy as np
import glob
import pandas as pd

Here, we've selected the run ids and their respective nicknames for the year 2019

In [6]:
df = pd.read_sql_query("select * from rawrun rw where rw.'Identifier 1' = '                              SP-18-01-2';",conn)
df

,Line,Analysis,Time Code,Port,Inj Nr,d(18_16)Mean,d(D_H)Mean,H2O_Mean,Ignore,Good,...,h16od_adjust,h16od_shift,n2_flag,DAS Temp,Tray,Sample,Job,Method,Error Code,RUN_ID
0,77,P-10161,2019/10/03 01:14:18,1-14,1,-12.986,-55.730,13134.0,-1,1,...,0.0,0.0,0,40.875,1,14,2,Picarro pre rinse,0,20191002
1,78,P-10161,2019/10/03 01:23:27,1-14,2,-13.788,-63.383,14607.0,-1,1,...,0.0,0.0,0,40.875,1,14,2,Picarro pre rinse,0,20191002
2,79,P-10161,2019/10/03 01:32:35,1-14,3,-13.651,-64.596,9442.0,-1,1,...,0.0,0.0,0,40.938,1,14,2,Picarro pre rinse,0,20191002
3,80,P-10161,2019/10/03 01:41:43,1-14,4,-13.969,-65.426,13393.0,0,1,...,0.0,0.0,0,41.000,1,14,2,Picarro pre rinse,0,20191002

In [41]:
df = pd.read_sql_query("select * from rawrun rw where rw.'Identifier 2'='YD';",conn)
df

Empty DataFrame
Columns: [Line, Analysis, Time Code, Port, Inj Nr, d(18_16)Mean, d(D_H)Mean, H2O_Mean, Ignore, Good, Identifier 1, Identifier 2, Gas Configuration, Timestamp Mean, d(18_16)_SD, d(D_H)_SD, H2O_SD, d(18_16)_Sl, d(D_H)_Sl, H2O_Sl, baseline_shift, slope_shift, residuals, baseline_curvature, interval, ch4_ppm, h16od_adjust, h16od_shift, n2_flag, DAS Temp, Tray, Sample, Job, Method, Error Code, RUN_ID]
Index: []

[0 rows x 36 columns]

we can also select the runs based on what the name is like, for example: guffert runs.

In [35]:
### In case the database is rebuilt, and the run look up table needs to be done again, uncomment the next bit of code.


#strips = ["~$","J:\\c715\\Picarro\\Results\\Results 2019\\Picarro-Results-",".xlsx","-","_"]

#nicknames = []

#for i in glob.glob(r"J:\c715\Picarro\Results\Results 2019\*.xlsx"):
#    full = i
#    for j in strips:

#        full = full.replace(j," ")
#    #print(full)
#    if full.startswith(" 2019") == True:
#        nicknames.append(full)
    
#RUN_IDS = glob.glob(r"J:\c715\Picarro\Results\Results 2019\Raw data\*.csv")

#for i,j in zip(nicknames,RUN_IDS):
#    pdb.AddRun(j,i,conn)

86

20190108.0
table runlookup already exists
20190109.0
table runlookup already exists
20190110.0
table runlookup already exists
20190111.0
table runlookup already exists
20190112.0
table runlookup already exists
20190113.0
table runlookup already exists
20190405.0
table runlookup already exists
20190406.0
table runlookup already exists
20190408.0
table runlookup already exists
20190409.0
table runlookup already exists
20190410.0
table runlookup already exists
20190411.0
table runlookup already exists
20190412.0
table runlookup already exists
20190413.0
table runlookup already exists
20190415.0
table runlookup already exists
20190416.0
table runlookup already exists
20190417.0
table runlookup already exists
20190418.0
table runlookup already exists
20190419.0
table runlookup already exists
20190513.0
table runlookup already exists
20190514.0
table runlookup already exists
20190515.0
table runlookup already exists
20190516.0
table runlookup already exists
20190701.0
table runlookup already exists
20190702.0
table runlookup already exists
20190703.0
table runlookup already exists
20190705.0
table runlookup already exists
20190706.0
table runlookup already exists
20190707.0
table runlookup already exists
20190708.0
table runlookup already exists
20190709.0
table runlookup already exists
20190710.0
table runlookup already exists
20190711.0
table runlookup already exists
20190712.0
table runlookup already exists
20190713.0
table runlookup already exists
20190715.0
table runlookup already exists
20190930.0
table runlookup already exists
20191001.0
table runlookup already exists
20191002.0
table runlookup already exists
20191003.0
table runlookup already exists
20191004.0
table runlookup already exists
20191005.0
table runlookup already exists
20191006.0
table runlookup already exists
20191007.0
table runlookup already exists
20191008.0
table runlookup already exists
20191009.0
table runlookup already exists
20191010.0
table runlookup already exists
20191011.0
table runlookup already exists
20191012.0
table runlookup already exists
20191014.0
table runlookup already exists
20191015.0
table runlookup already exists
20191016.0
table runlookup already exists
20191017.0
table runlookup already exists
20191018.0
table runlookup already exists
20191019.0
table runlookup already exists
20191021.0
table runlookup already exists
20191022.0
table runlookup already exists
20191023.0
table runlookup already exists
20191024.0
table runlookup already exists
20191025.0
table runlookup already exists
20191026.0
table runlookup already exists
20191028.0
table runlookup already exists
20191029.0
table runlookup already exists
20191030.0
table runlookup already exists
20191031.0
table runlookup already exists
20191101.0
table runlookup already exists
20191102.0
table runlookup already exists
20191103.0
table runlookup already exists
20191104.0
table runlookup already exists
20191105.0
table runlookup already exists
20191106.0
table runlookup already exists
20191107.0
table runlookup already exists
20191109.0
table runlookup already exists
20191111.0
table runlookup already exists
20191112.0
table runlookup already exists
20191113.0
table runlookup already exists
20191114.0
table runlookup already exists
20191115.0
table runlookup already exists
20191116.0
table runlookup already exists
20191117.0
table runlookup already exists
20191118.0
table runlookup already exists
20191119.0
table runlookup already exists
20191120.0
table runlookup already exists
20191121.0
table runlookup already exists
20191122.0
table runlookup already exists
20191123.0

In [ ]:
df = pd.read_sql_query("select * from runlookup rlk where rlk.NickName like '%Hundsalm%';",conn)
df

Now let's execute a statement where the NickName is replaced.

In [ ]:
import sqlite3
from sqlite3 import Error

def ReplaceName(conn,RUN_ID,newname):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param RUN_ID: the run id, an eight digit integer with format yyyymmdd
    :return: updated table name in 

    https://www.sqlitetutorial.net/sqlite-python/create-tables/
    """
    
    statement= """UPDATE runlookup
    SET RUN_ID = {0}, NickName = '{1}'
    WHERE RUN_ID = {0};""".format(RUN_ID,newname)
    
    try:
        c = conn.cursor()

        c.execute(statement)
    except Error as e:
            print(e)
        conn.commit()

In [ ]:
ids = [20190513,20190514,20190515,20190516,20190707]
newnames=['2019 05 14 TR Hundsalm Run01',
         '2019 05 15 TR Hundsalm Run02',
         '2019 05 16 TR Hundsalm Run03',
         '2019 05 17 TR Hundsalm Run04',
         '2019 07 08 TR Hundsalm Run05']
for i,j in zip(ids,newnames):
    ReplaceName(conn,i,j)

In [ ]:
df = pd.read_sql_query("select * from runlookup rlk where rlk.NickName like '%Hundsalm%';",conn)
df

In [ ]:
pdb.AddSummaryRun(r"J:\c715\Picarro\Results\Results 2019\Raw data\HKDS2009_IsoWater_20190516_142104.csv",conn)

In [ ]:
statement ="""SELECT * from runlookup rlk,runs r 
            WHERE (
            rlk.NickName like '%Hundsalm%'
            AND (r.'Identifier 2' = 'TR' 
            AND r.RUN_ID= rlk.RUN_ID
            ));"""

df = pd.read_sql_query(statement,conn)
df

In [ ]:
df = pd.read_sql_query("select r.'Identifier 1',r.'Identifier 2' from rawrun r where RUN_ID = 20190513",conn)

In [ ]:
df1 = pd.read_csv(r"J:\c715\Picarro\Results\Results 2019\Raw data\HKDS2009_IsoWater_20190513_142143.csv")

In [ ]:
df1.head(50)

In [ ]:
pd.read_sql_query("select * from runlookup rlk,runs r where (rlk.NickName like '%Hundsalm%' and (r.RUN_ID = rlk.RUN_ID and r.'Identifier 2'  like '%Hundsalm%'));",conn)

In [ ]:
pd.read_sql_query("select * from runs where")

In [ ]:
pd.read_sql_query("select * from runs",conn)